.App {
  text-align: center;
  justify-content: center;
  display: flex;
}

.MainContainer {
  width: 100%;
}

.PillTest {
  width: 50%;
  border-radius: 10px;
  height: 20px;
  background: greenyellow;
}

.OneYear {
  width: 50%;
  height: 100px;
}